@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #e5e4df;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url('/assets/mainbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
